.git
.github
.venv
__pycache__
*.pyc
*.pyo
.mypy_cache
.pytest_cache
.ruff_cache
*.egg-info
dist
build
.env
.env.*
tests
docs
*.md
.pre-commit-config.yaml
.dockerignore
Dockerfile
docker-compose*.yml
